  body{
    background:     linear-gradient(
        rgb(0, 0, 0), 
        rgb(0, 0, 0)
      ), url(https://images.squarespace-cdn.com/content/v1/5a01bfa1bce17651a5f3334d/1581019119984-4FZOHCX1ITR7ADG7ILH9/image-asset.gif) no-repeat center center fixed; 
    background-blend-mode: saturation;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


h1
{
    color: greenyellow;
}

td
{
    color: greenyellow;
}
#backgroundImage
{
    text-align: center;
    justify-content: center;
    /* background-color: black; */

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    z-index: 2;

    border-radius: 10px;
    
    /* position: absolute;
    transform: translate(0%, 0%); */

    -webkit-backdrop-filter: blur(10px)grayscale(1) brightness(0.3);
    backdrop-filter: blur(10px)grayscale(1) brightness(0.3);
}

#prev{
    position: absolute;
    left: 10px;
    top: 50%;
}

#next{
    position: absolute;
    right: 10px;
    top: 50%;
}
#prev2{
    position: absolute;
    left: 10px;
    top: 50%;
}

#next2{
    position: absolute;
    right: 10px;
    top: 50%;
}

nav{
    position: relative;
    display: block;
    margin: auto;
}

.hidden 
{
    display: none;
}

#MainTable
{
    text-align: center;
    justify-content: center;
    margin: auto;
    /* background-color: rgb(87, 87, 87); */

    -webkit-backdrop-filter: blur(10px) grayscale(1);
    backdrop-filter: blur(10px) grayscale(1);
}

th{
    color : white;
}

#MainTable tr{
    border : black;
    border-width: 2px;
    border-bottom-style: solid;
    opacity: 97%;
}
td{
    justify-content: center;
    margin: auto;
    text-align: center;
    vertical-align: middle;

}
img{
    width: 95%;
    height: 70%;
    object-fit: scale-down;
    margin-top: 5%;
    margin-bottom: 5%;
}
.placeinmid
{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    object-fit: scale-down;
}
.deleteButton
{
    background-color: rgb(170, 40, 40);
    color: white;
    width: 75px;
}
.deleteButton:hover
{
    background-color: rgb(255, 0, 0);
}

.updateButton
{
    background-color: rgb(37, 138, 28);
    width: 75px;
    border-radius: 5px;
}

#greetingMesage
{
    color: greenyellow;
}

.SubmitUpdateButton
{
    background-color: rgb(37, 138, 28);
}
.SubmitUpdateButton:hover
{
    background-color: rgb(14, 219, 14);
}
.updateButton:hover
{
    background-color: rgb(14, 219, 14);
}
.name
{
    width: 25%;
    font-size: 150%;
    font-style: oblique;
    font-weight: bold;
}
.info
{
    width: 20%
}
@media only screen and (max-width: 1300px) {
    /* For mobile phones: */
    #backgroundImage {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
    }
  }

@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    #backgroundImage {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.75%;
    }
  }

  @media only screen and (max-width: 550px) {
    /* For mobile phones: */
    #backgroundImage {
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 1%;
    }
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
